* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #e6d5be;
  font-family: "Arial", sans-serif;
  color: #5b3a1c;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 80px;
}

/* Стрелка */
.arrow {
  position: absolute;
  top: 40px;
  left: 60px;
  font-size: 2.5em;
  color: #5b3a1c;
  text-decoration: none;
  cursor: pointer;
}

.arrow:hover {
  color: #7b4a22;
}


/* Заголовок */
header {
  text-align: center;
  margin-top: 80px;
}

header h1 {
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 1.3em;
  font-weight: normal;
}

/* Люди */
.people {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 100px;
}

.person h2 {
  font-size: 1.4em;
  margin-bottom: 5px;
}

.person p {
  font-size: 1.2em;
}

/* Нижний блок */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  margin-bottom: 30px;
}

.left {
  text-align: left;
  line-height: 1.6em;
}

.right {
  text-align: right;
}

/* Логотип */
.logo {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 150px;
  height: 90px;
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}


@media (max-width: 852px) {
  /* Загальні відступи */
  .page {
    padding: 20px;
  }

  /* Кнопка "назад" */
  .arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3.3em;
    color: #5b3a1c;
    text-decoration: none;
    z-index: 10;
  }

  .arrow:hover {
    color: #7b4a22;
  }

  /* Логотип */
  .logo {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .logo img {
    width: 130px;
    height: auto;
  }

  /* Заголовок */
  header {
    margin-top: 120px;
    text-align: center;
  }

  header h1 {
    font-size: 1.7em;
    line-height: 1.3em;
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 1em;
    line-height: 1.4em;
    max-width: 90%;
    margin: 0 auto;
  }

  /* Блок з людьми */
  .people {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
  }

  .person h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .person p {
    font-size: 1em;
  }

  /* Нижній блок (footer) */
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.95em;
    line-height: 1.6em;
    margin-top: 60px;
  }

  .left, .right {
    text-align: center;
    margin-bottom: 10px;
  }

  .left {
    font-size: 14.5px;
  }

  .right p {
    margin-top: 5px;
  }
}
