body {
  margin: 0;
  padding: 0;
  background-color: #7b4a1e; /* коричневый фон */
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.catalog-box {
  background-color: #a56e3ac5;
  padding: 70px 150px; /* увеличил внутренние отступы */
  border-radius: 25px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 480px; /* фиксированная ширина, как на твоём скрине */
}

.catalog-box p {
  color: #fff;
  font-weight: bold;
  font-size: 28px; /* увеличил шрифт */
  margin: 38px 0;
  letter-spacing: 1.5px;
}

.catalog-box hr {
  border: none;
  border-top: 2px solid #fff;
  margin: 48px 0;
  width: 100%; /* линия во всю ширину блока */
}

.back-btn {
  position: absolute;
  left: 30px;
  top: 8%;
  transform: translateY(-50%);
  font-size: 80px;
  text-decoration: none;
  color: #c8935f;
  font-weight: bold;
  transition: color 0.3s ease;
}

.back-btn:hover {
  color: #ffffff;
}

.logo {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 280px;
  height: auto;
}
.no-link {
  color: inherit; /* наследует цвет текста родителя */
  text-decoration: none; /* убирает подчёркивание */
}

.no-link:hover {
  color: inherit; /* чтобы при наведении не менялся цвет */
  text-decoration: none; /* чтобы при наведении не появлялось подчёркивание */
}
/* --- АДАПТИВ ДЛЯ КАТАЛОГА --- */
@media (max-width: 858px) {
  body {
  margin: 0;
  padding: 0;
  background-color: #7b4a1e;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}



  .catalog-box {
    width: 75%; /* Адаптивна ширина */
    height: 350px;
    padding: 40px 20px; /* Зменшені внутрішні відступи */
    border-radius: 15px; /* Менший радіус кута */
  }

  .catalog-box p {
    font-size: 18px; /* Зменшений розмір шрифту */
    margin: 32px 0;
    letter-spacing: 1px;
  }

  .catalog-box hr {
    margin: 25px 0;
    border-top: 1px solid #fff; /* Тонша лінія */
  }

  .back-btn {
    left: 20px;
    font-size: 80px; /* Зменшений розмір кнопки */
    top: 8%;
  }

  .logo {
    top: 25px;
    right: 15px;
    width: 180px; /* Зменшений розмір логотипу */
  }
}
